html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

.lh-100 {
  line-height: 1;
}
.lh-125 {
  line-height: 1.25;
}
.lh-150 {
  line-height: 1.5;
}

// Option B: Include parts of Bootstrap

// Castomisation
// @import './assets/variables';

// Required
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// Optional
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/code';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/transitions';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/alert';
@import '../node_modules/bootstrap/scss/forms';

@import '../node_modules/bootstrap/scss/utilities/flex';
@import '../node_modules/bootstrap/scss/utilities/background';
@import '../node_modules/bootstrap/scss/utilities/display';
@import '../node_modules/bootstrap/scss/utilities/position';
@import '../node_modules/bootstrap/scss/utilities/float';
@import '../node_modules/bootstrap/scss/utilities/clearfix';
@import '../node_modules/bootstrap/scss/utilities/borders';
@import '../node_modules/bootstrap/scss/utilities/text';
@import '../node_modules/bootstrap/scss/utilities/spacing';
@import '../node_modules/bootstrap/scss/utilities/screenreaders';
